./venv
*.xml
*.sh
*.pkl
*.out
Models/Patent2Vec_1.0
Models/Patent2Vec_1.0.syn1neg.npy
Models/Patent2Vec_1.0.wv.vectors.npy
Models/Doc2Vec_1.0
Models/Doc2Vec_1.0.syn1neg.npy
Models/Doc2Vec_1.0.wv.vectors.npy
Models/Law2Vec.200d.txt
Models/Word2Vec-google-300d
Models/Word2Vec-google-300d.vectors.npy