/EPO Patent Data
Embeddings/Doc2Vec_1.0
Embeddings/Doc2Vec_1.0.syn1neg.npy
Embeddings/Doc2Vec_1.0.wv.vectors.npy
Embeddings/Patent2Vec_1.0
Embeddings/Patent2Vec_1.0.syn1neg.npy
Embeddings/Patent2Vec_1.0.wv.vectors.npy
