./venv
*.xml
*.sh
*.pkl
*.out
*.zip
Models/
Results/grid_logs
Results/old_results
Experiments/__pycache__
Utilities/__pycache__
Results/optuna
Results/experiment_report_skeleton.md
Results/experiment_report.html
